/* Colors */
/* Fonts */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "TT Hoves", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.logo:hover, .logo:focus {
  opacity: 0.7;
}

.header__wrap {
  padding: 30px 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.nav__title {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.nav__list--footer {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: start;
}

.nav__item {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding-bottom: 3px;
  margin-right: 60px;
  transition: all .3s ease-in-out;
}

.nav__item:last-child {
  margin-right: 130px;
}

.nav__item:focus, .nav__item:hover {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

.nav__item--footer {
  margin-bottom: 16px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.nav__item--footer:focus, .nav__item--footer:hover {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.nav__item--footer:last-child {
  margin-bottom: 0;
}

.nav__link {
  color: #333333;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav__link--footer {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #ffffff;
}

.footer {
  background-color: #2C2C2C;
}

.footer__wrap {
  padding: 60px 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.footer__contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.footer__contacts-map {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.footer__contacts-location {
  margin: 0;
  margin-left: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__contacts-actions {
  margin-top: auto;
}

.footer__contacts-item {
  margin-bottom: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.footer__contacts-item:last-child {
  margin-bottom: 0;
}

.footer__contacts-link {
  margin-left: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: all .3s ease-in-out;
}

.footer__contacts-link:focus, .footer__contacts-link:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.footer__copy {
  padding: 24px 0px;
  opacity: 0.1;
  border-top: 1px solid #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer__copy-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #e6e6e6;
}

.social__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 80px;
}

.social__link {
  transition: all .3s ease-in-out;
}

.social__link:hover, .social__link:focus {
  -webkit-transform: translate(5px, -5px);
      -ms-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
}
