/* Colors */
/* Fonts */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "TT Hoves", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body.no-scroll {
  overflow: hidden;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.logo:hover, .logo:focus {
  opacity: 0.7;
}

.main__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 640px) {
  .main__title {
    font-size: 54px;
  }
}

@media (max-width: 520px) {
  .main__title {
    font-size: 50px;
    margin: 0;
    margin-bottom: 15px;
  }
}

.main__title--light {
  font-weight: 300;
  color: #bdbdbd;
}

.main__title--m {
  margin: 60px 0px;
}

.section__title {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 100%;
  color: #bdbdbd;
  margin: 0;
  margin-bottom: 60px;
}

.section__title--sm {
  margin-bottom: 20px;
}

@media (max-width: 899px) {
  .section__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .section__title {
    font-size: 50px;
    margin-bottom: 40px;
  }
}

@media (max-width: 420px) {
  .section__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
}

.btn, button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  padding: 30px 50px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
}

@media (max-width: 575px) {
  .btn, button {
    padding: 23px 30px;
  }
}

.btn--black, button--black {
  color: #ffffff;
  background-color: #333333;
}

.btn--sm, button--sm {
  padding: 30px 40px;
}

@media (max-width: 575px) {
  .btn--sm, button--sm {
    padding: 20px 32px;
  }
}

.btn--lg, button--lg {
  padding: 30px 60px;
}

@media (max-width: 575px) {
  .btn--lg, button--lg {
    padding: 20px 44px;
  }
}

.arrow-right-black,
.arrow-right-white {
  display: inline-block;
  margin-left: 10px;
  -webkit-transform: all .3s ease-in-out;
      -ms-transform: all .3s ease-in-out;
          transform: all .3s ease-in-out;
  -webkit-animation: alwaysRight 2s ease-in-out infinite forwards;
          animation: alwaysRight 2s ease-in-out infinite forwards;
}

@-webkit-keyframes alwaysRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    opacity: 0;
  }
}

@keyframes alwaysRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    opacity: 0;
  }
}

.counter {
  position: absolute;
  bottom: -71px;
  left: 17px;
}

.counter__num {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  position: relative;
}

.counter__num:first-child {
  margin-right: 90px;
}

.counter__num:first-child::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -69px;
  width: 43px;
  height: 43px;
  background-image: url("../img/line.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.counter__num:last-child {
  color: #bdbdbd;
}

.slider__wrap {
  position: relative;
}

.slider__item {
  position: relative;
}

.hero__slider > .slick-next,
.gallery__slider > .slick-next,
.projects__slider > .slick-next,
.certification__slider > .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  content: " ";
  top: 600px;
  left: -325px;
  display: block;
  width: 17px;
  height: 8px;
  padding: 24px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: 1px solid #f2f2f2;
  outline: none;
  background: #ffffff;
  background-image: url(../img/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  transition: all .3s ease-in-out;
}

.hero__slider > .slick-next::before,
.gallery__slider > .slick-next::before,
.projects__slider > .slick-next::before,
.certification__slider > .slick-next::before {
  content: "";
}

.hero__slider > .slick-next:hover, .hero__slider > .slick-next:focus,
.gallery__slider > .slick-next:hover,
.gallery__slider > .slick-next:focus,
.projects__slider > .slick-next:hover,
.projects__slider > .slick-next:focus,
.certification__slider > .slick-next:hover,
.certification__slider > .slick-next:focus {
  background-color: #f2f2f2;
}

.hero__slider > .slick-next::before,
.gallery__slider > .slick-next::before,
.projects__slider > .slick-next::before,
.certification__slider > .slick-next::before {
  content: "";
}

.hero__slider > .slick-next:hover, .hero__slider > .slick-next:focus,
.gallery__slider > .slick-next:hover,
.gallery__slider > .slick-next:focus,
.projects__slider > .slick-next:hover,
.projects__slider > .slick-next:focus,
.certification__slider > .slick-next:hover,
.certification__slider > .slick-next:focus {
  background-color: #f2f2f2;
}

.gallery__slider > .slick-next {
  top: 650px;
  left: 255px;
}

.projects__slider > .slick-next {
  top: unset;
  bottom: -110px;
  left: 255px;
}

.certification__slider > .slick-next {
  top: 512px;
  right: 25px;
  left: unset;
}

.hero__slider > .slick-prev,
.gallery__slider > .slick-prev,
.projects__slider > .slick-prev,
.certification__slider > .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  content: " ";
  top: 600px;
  left: -397px;
  display: block;
  width: 17px;
  height: 8px;
  padding: 24px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: 1px solid #f2f2f2;
  outline: none;
  background: #ffffff;
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  transition: all .3s ease-in-out;
}

.hero__slider > .slick-prev::before,
.gallery__slider > .slick-prev::before,
.projects__slider > .slick-prev::before,
.certification__slider > .slick-prev::before {
  content: "";
}

.hero__slider > .slick-prev:hover, .hero__slider > .slick-prev:focus,
.gallery__slider > .slick-prev:hover,
.gallery__slider > .slick-prev:focus,
.projects__slider > .slick-prev:hover,
.projects__slider > .slick-prev:focus,
.certification__slider > .slick-prev:hover,
.certification__slider > .slick-prev:focus {
  background-color: #f2f2f2;
}

.gallery__slider > .slick-prev {
  top: 650px;
  left: 180px;
}

.projects__slider > .slick-prev {
  bottom: -110px;
  top: unset;
  left: 180px;
}

.certification__slider > .slick-prev {
  top: 512px;
  right: 100px;
  left: unset;
}

.gallery__slider {
  margin-bottom: 200px !important;
}

.gallery__slider > .slick-list {
  max-width: 100%;
}

.gallery__slider > .slick-track {
  width: inherit;
}

.projects__slider {
  margin-bottom: 0px !important;
}

.projects__slider > .slick-list {
  max-width: 100%;
}

.projects__slider > .slick-track {
  width: inherit;
}

.projects__slider > .slick-slide.slick-active {
  width: 100%;
}

.certification__slider {
  margin-bottom: 0px !important;
}

.certification__slider > .slick-list {
  max-width: 100%;
}

.certification__slider > .slick-track {
  width: inherit;
}

.certification__slider.slick-initialized .slick-slide {
  display: -ms-inline-grid;
  display: inline-grid;
}

.hero__slider > .slick-list {
  max-width: 800px;
}

@media (max-width: 1199px) {
  .hero__slider > .slick-list {
    max-width: 660px;
  }
}

@media (max-width: 767px) {
  .hero__slider > .slick-list {
    max-width: 560px;
  }
}

@media (max-width: 640px) {
  .hero__slider > .slick-list {
    max-width: 470px;
  }
}

@media (max-width: 520px) {
  .hero__slider > .slick-list {
    max-width: 380px;
  }
}

@media (max-width: 425px) {
  .hero__slider > .slick-list {
    max-width: 310px;
  }
}

.hero__slider > .slick-track {
  width: inherit;
}

@media (max-width: 1199px) {
  .hero__slider > .slick-prev,
  .hero__slider > .slick-next {
    top: 430px;
  }
}

@media (max-width: 1100px) {
  .hero__slider > .slick-prev,
  .hero__slider > .slick-next {
    top: unset;
    bottom: -100px;
  }
}

@media (max-width: 1100px) {
  .hero__slider > .slick-prev {
    left: 0;
  }
}

@media (max-width: 1100px) {
  .hero__slider > .slick-next {
    left: 70px;
  }
}

.slick-slide img {
  display: inline-block !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.hero__slider > .slick-dots {
  bottom: 75px;
  left: -415px;
  width: 20%;
}

@media (max-width: 1199px) {
  .hero__slider > .slick-dots {
    width: 30%;
  }
}

@media (max-width: 1100px) {
  .hero__slider > .slick-dots {
    bottom: -67px;
    left: 120px;
  }
}

@media (max-width: 640px) {
  .hero__slider > .slick-dots {
    left: 140px;
  }
}

@media (max-width: 520px) {
  .hero__slider > .slick-dots {
    width: 50%;
  }
}

.slick-dots li:first-child::before {
  position: absolute;
  content: "";
  left: 56px;
  width: 34px;
  height: 33px;
  background-image: url("../img/line.svg");
}

.slick-dots li {
  width: 35px;
  height: 35px;
  margin: 0;
  margin-right: 70px;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots li button {
  width: 35px;
  height: 35px;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #BDBDBD;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  content: '';
  opacity: .25;
  color: black;
}

.header__wrap {
  padding: 30px 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.footer {
  background-color: #2C2C2C;
}

.footer__wrap {
  padding: 60px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 30px .7fr 30px 1fr 30px .5fr;
  grid-template-columns: .5fr .7fr 1fr .5fr;
  -ms-flex-pack: justify;
      justify-content: space-between;
  gap: 0px 30px;
}

@media (max-width: 899px) {
  .footer__wrap {
    padding: 30px 0px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-flex-pack: center;
        justify-content: center;
    gap: 40px 20px;
  }
}

@media (max-width: 420px) {
  .footer__wrap {
    gap: 30px 0px;
  }
}

.footer__logo {
  max-height: 100px;
}

@media (max-width: 899px) {
  .footer__logo {
    -ms-flex-order: -1;
        order: -1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 420px) {
  .footer__logo {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

.footer__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 899px) {
  .footer__nav {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-flex-align: center;
        align-items: center;
  }
}

.footer__contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (max-width: 899px) {
  .footer__contacts {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer__contacts > .nav__title {
    text-align: center;
  }
}

.footer__contacts-map {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

@media (max-width: 899px) {
  .footer__contacts-map {
    margin-bottom: 20px;
  }
}

.footer__contacts-location {
  margin: 0;
  margin-left: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__contacts-actions {
  margin-top: auto;
}

.footer__contacts-item {
  margin-bottom: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 899px) {
  .footer__contacts-item {
    margin-bottom: 20px;
  }
}

.footer__contacts-item:last-child {
  margin-bottom: 0;
}

.footer__contacts-link {
  margin-left: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: all .3s ease-in-out;
}

.footer__contacts-link:focus, .footer__contacts-link:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 899px) {
  .footer__social {
    -ms-flex-order: -1;
        order: -1;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 420px) {
  .footer__social {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-flex-order: 1;
        order: 1;
  }
}

.footer__copy {
  padding: 24px 0px;
  opacity: 0.1;
  border-top: 1px solid #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

@media (max-width: 899px) {
  .footer__copy {
    padding: 14px 0px;
  }
}

.footer__copy-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #e6e6e6;
}

.nav-mobile {
  position: fixed;
  top: 90px;
  right: -100%;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 6px 4px 4px #bdbdbd;
  padding: 25px 40px;
  border: 1px solid #333333;
  transition: all .3s ease-in-out;
}

.nav-mobile.show {
  right: 0;
}

.nav__title {
  margin: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.nav__list--mobile {
  -ms-flex-direction: column;
      flex-direction: column;
}

.nav__list--mobile > .nav__item {
  margin-right: 0;
  margin-bottom: 20px;
}

.nav__list--mobile > .nav__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.nav__list--footer {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: start;
}

@media (max-width: 899px) {
  .nav__list--footer {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

@media (max-width: 540px) {
  .nav__list--footer {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

.nav__item {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding-bottom: 3px;
  margin-right: 60px;
  transition: all .3s ease-in-out;
}

@media (max-width: 991px) {
  .nav__item {
    margin-right: 40px;
  }
}

.nav__item:last-child {
  margin-right: 170px;
}

@media (max-width: 1100px) {
  .nav__item:last-child {
    margin-right: 60px;
  }
}

.nav__item:focus, .nav__item:hover {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

.nav__item--footer {
  margin-bottom: 16px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: all .3s ease-in-out;
}

@media (max-width: 899px) {
  .nav__item--footer {
    margin-right: 40px;
    margin-bottom: 0;
  }
  .nav__item--footer:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 540px) {
  .nav__item--footer {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .nav__item--footer:last-child {
    margin-bottom: 0;
  }
}

.nav__item--footer:focus, .nav__item--footer:hover {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.nav__item--footer:last-child {
  margin-bottom: 0;
}

.nav__link {
  color: #333333;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav__link--footer {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #ffffff;
}

.hamburger {
  display: none;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

.hamburger:hover {
  border: 1px solid #333333;
}

.social__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.social__link {
  transition: all .3s ease-in-out;
}

.social__link:hover, .social__link:focus {
  -webkit-transform: translate(5px, -5px);
      -ms-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
}

.hero__wrap {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .hero__wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 30px;
  }
}

.hero__content {
  padding-top: 300px;
  margin-right: 70px;
}

@media (max-width: 1199px) {
  .hero__content {
    padding-top: 150px;
  }
}

@media (max-width: 1100px) {
  .hero__content {
    padding-top: 30px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .hero__content {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.hero__product {
  padding-bottom: 120px;
}

.hero__slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.hero__img {
  display: inline-block;
  width: 770px;
  height: 830px;
  transition: all .3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1199px) {
  .hero__img {
    width: 660px;
    height: 670px;
  }
}

@media (max-width: 767px) {
  .hero__img {
    width: 560px;
    height: 610px;
  }
}

@media (max-width: 640px) {
  .hero__img {
    width: 470px;
    height: 530px;
  }
}

@media (max-width: 520px) {
  .hero__img {
    width: 380px;
    height: 430px;
  }
}

@media (max-width: 425px) {
  .hero__img {
    width: 310px;
    height: 370px;
  }
}

.hero__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.hero__btn:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.hero__btn:focus {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  border: 1px solid #2C2C2C;
}

.hero__btn:hover + .hero__img {
  -webkit-filter: hue-rotate(270deg);
          filter: hue-rotate(270deg);
}

.hero__btn:focus + .hero__img {
  -webkit-filter: hue-rotate(270deg);
          filter: hue-rotate(270deg);
}

.about-us__wrap {
  padding: 30px 70px 0px 100px;
  margin-bottom: 150px;
  background-color: #FBFBFB;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .about-us__wrap {
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media (max-width: 669px) {
  .about-us__wrap {
    padding: 30px 50px 0px;
  }
}

@media (max-width: 420px) {
  .about-us__wrap {
    padding: 30px 30px 0px;
  }
}

.about-us__products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: minmax(auto 265px) 30px minmax(auto 140px);
  grid-template-rows: minmax(auto 265px) minmax(auto 140px);
  gap: 30px;
}

.about-us__products > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about-us__products > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.about-us__products > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.about-us__products > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

@media (max-width: 1199px) {
  .about-us__products {
    margin-bottom: 50px;
  }
}

@media (max-width: 669px) {
  .about-us__products {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 15px 0;
  }
}

.about-us__img--md {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  margin-top: 30px;
}

@media (max-width: 669px) {
  .about-us__img {
    margin-top: 0;
  }
}

.about-us__img--sm {
  margin-bottom: -30px;
}

.about-us__content {
  margin-left: 30px;
}

@media (max-width: 1199px) {
  .about-us__content {
    margin-left: 0;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 100%;
  color: #bdbdbd;
}

@media (max-width: 1199px) {
  .about-us__title {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .about-us__title {
    font-size: 45px;
  }
}

.about-us__desc {
  margin: 0;
  margin-bottom: 20px;
  max-width: 400px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #333333;
}

@media (max-width: 1199px) {
  .about-us__desc {
    max-width: 700px;
  }
}

@media (max-width: 669px) {
  .about-us__desc {
    text-align: justify;
  }
}

.about-us__btn {
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.about-us__btn:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.about-us__btn:focus {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  border: 1px solid #2C2C2C;
}

@media (max-width: 1199px) {
  .about-us__btn {
    margin-bottom: 20px;
  }
}

.tasks__wrap {
  margin-bottom: 120px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 575px) {
  .tasks__wrap {
    margin-bottom: 60px;
  }
}

.tasks__item {
  display: -ms-flexbox;
  display: flex;
}

.tasks__item:first-child > .tasks__desc {
  max-width: 280px;
  margin-right: 180px;
}

@media (max-width: 1199px) {
  .tasks__item:first-child > .tasks__desc {
    margin-right: 100px;
  }
}

@media (max-width: 1040px) {
  .tasks__item:first-child {
    margin-bottom: 20px;
  }
  .tasks__item:first-child > .tasks__desc {
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .tasks__item {
    text-align: end;
  }
  .tasks__item:first-child > .tasks__desc {
    max-width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 420px) {
  .tasks__item {
    text-align: center;
  }
}

.tasks__number {
  margin-right: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 100%;
  color: #F2F2F2;
}

@media (max-width: 1199px) {
  .tasks__number {
    font-size: 150px;
  }
}

@media (max-width: 575px) {
  .tasks__number {
    font-size: 120px;
  }
}

@media (max-width: 575px) {
  .tasks__number {
    margin-right: 15px;
  }
}

.tasks__desc {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.7;
  color: #333333;
  max-width: 420px;
}

@media (max-width: 1199px) {
  .tasks__desc {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .tasks__desc {
    font-size: 16px;
    max-width: 100%;
  }
}

.project__wrap {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

@media (max-width: 1199px) {
  .project__wrap {
    gap: 15px;
  }
}

.project__wrap-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media (max-width: 1199px) {
  .project__wrap-top {
    gap: 15px;
  }
}

@media (max-width: 899px) {
  .project__wrap-top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px 0px;
  }
  .project__wrap-top > .project__item {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.project__wrap-btm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 30px 40% 30px 32%;
  grid-template-columns: 23% 40% 32%;
  gap: 30px;
}

@media (max-width: 1199px) {
  .project__wrap-btm {
    gap: 15px;
    -ms-grid-columns: 24% 15px 41% 15px 32%;
    grid-template-columns: 24% 41% 32%;
  }
}

@media (max-width: 899px) {
  .project__wrap-btm {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
  }
  .project__wrap-btm > .project__item {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .project__wrap-btm > .project__item:nth-child(2) {
    -ms-flex-order: -1;
        order: -1;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (max-width: 475px) {
  .project__wrap-btm > .project__item {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

.project__item {
  position: relative;
}

.project__item:hover > .project__desc {
  display: block;
  background-color: rgba(51, 51, 51, 0.8);
}

.project__img {
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  transition: all .3s ease-in-out;
  padding: 50px 70px 60px 70px;
}

@media (max-width: 1199px) {
  .project__desc {
    padding: 30px 70px 60px 30px;
  }
}

@media (max-width: 899px) {
  .project__desc {
    padding: 50px 70px 60px 70px;
  }
}

@media (max-width: 575px) {
  .project__desc {
    padding: 30px 70px 60px 30px;
  }
}

@media (max-width: 470px) {
  .project__desc {
    padding: 30px 70px 60px 30px;
  }
}

.project__desc--md {
  padding: 35px 50px;
}

@media (max-width: 1024px) {
  .project__desc--md {
    padding: 25px 35px;
  }
}

@media (max-width: 899px) {
  .project__desc--md {
    padding: 35px 50px;
  }
}

@media (max-width: 575px) {
  .project__desc--md {
    padding: 25px 35px;
  }
}

.project__desc--sm {
  padding: 65px 20px 100px 20px;
}

@media (max-width: 1024px) {
  .project__desc--sm {
    padding: 45px 20px 100px 20px;
  }
}

@media (max-width: 899px) {
  .project__desc--sm {
    padding: 65px 20px 100px 20px;
  }
}

@media (max-width: 520px) {
  .project__desc--sm {
    padding: 45px 20px 100px 20px;
  }
}

.project__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .project__title {
    font-size: 54px;
  }
}

@media (max-width: 470px) {
  .project__title {
    font-size: 44px;
  }
}

@media (max-width: 420px) {
  .project__title {
    font-size: 36px;
  }
}

@media (max-width: 360px) {
  .project__title {
    font-size: 30px;
  }
}

.project__title--md {
  font-size: 58px;
}

@media (max-width: 1024px) {
  .project__title--md {
    font-size: 48px;
  }
}

@media (max-width: 470px) {
  .project__title--md {
    font-size: 44px;
  }
}

@media (max-width: 420px) {
  .project__title--md {
    font-size: 36px;
  }
}

@media (max-width: 360px) {
  .project__title--md {
    font-size: 30px;
  }
}

.project__title--sm {
  font-size: 42px;
}

@media (max-width: 1024px) {
  .project__title--sm {
    font-size: 32px;
  }
}

@media (max-width: 899px) {
  .project__title--sm {
    font-size: 42px;
  }
}

@media (max-width: 520px) {
  .project__title--sm {
    font-size: 32px;
  }
}

@media (max-width: 475px) {
  .project__title--sm {
    font-size: 42px;
  }
}

@media (max-width: 360px) {
  .project__title--sm {
    font-size: 32px;
  }
}

.project__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  transition: all .3s ease-in-out;
}

.project__link:hover, .project__link:focus {
  text-decoration: underline;
}

.project__action {
  margin-bottom: 120px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.project__btn {
  margin-top: 30px;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.project__btn:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.project__btn:focus {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  border: 1px solid #ffffff;
}

.feedback__wrap {
  margin-bottom: 120px;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .feedback__wrap {
    position: relative;
  }
}

@media (max-width: 575px) {
  .feedback__wrap {
    margin-bottom: 60px;
  }
}

.feedback__photo {
  max-width: 750px;
  padding-top: 30px;
}

@media (max-width: 991px) {
  .feedback__photo {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: -1;
    padding-top: 0;
  }
}

.feedback__btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-self: flex-start;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.feedback__btn:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.feedback__btn:focus {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  border: 1px solid #ffffff;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 3fr 10px 1fr 10px 70px;
  grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1fr 70px;
  gap: 10px;
}

@media (max-width: 575px) {
  .form {
    -ms-grid-rows: 1fr 1fr 1fr 1fr 3fr 1.3fr 70px;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1.3fr 70px;
  }
}

.form__input {
  width: 100%;
  max-width: 410px;
  padding: 15px 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #2C2C2C;
  background-color: #f3f3f3;
  border: 1px solid transparent;
  outline: none;
  transition: all .3s ease-in-out;
}

.form__input:focus, .form__input:hover {
  border: 1px solid #a4a4a4;
  background-color: #e6e6e6;
}

.form__input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.form__input::-moz-placeholder {
  color: #bdbdbd;
}

.form__input:-ms-input-placeholder {
  color: #bdbdbd;
}

.form__input::placeholder {
  color: #bdbdbd;
}

.form__label--check {
  position: relative;
  padding-left: 30px;
  max-width: 410px;
}

.form__check {
  padding-left: 40px;
  margin-left: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #333333;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.form__check:checked + .form__custom-check {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__custom-check {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid #333333;
}

.form__custom-check:focus, .form__custom-check:hover {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.form__message {
  height: 150px;
  resize: none;
}

.gallery__container {
  position: relative;
}

.gallery__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.gallery__photo {
  position: relative;
  margin-bottom: 30px;
}

.gallery__photo:hover > .gallery__desc {
  height: 50%;
  font-size: 14px;
  line-height: 18px;
  background-color: #C4C4C4;
}

.gallery__photo:focus > .gallery__desc {
  height: 50%;
  font-size: 14px;
  line-height: 18px;
  background-color: #C4C4C4;
}

.gallery__photo:hover > .gallery__img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.gallery__photo:focus > .gallery__img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.gallery__img {
  transition: all .3s ease-in-out;
}

.gallery__desc {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  z-index: 10;
  height: 0%;
  margin: 0;
  padding: 20px 20px 0px;
  font-weight: normal;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  color: #333333;
  transition: all .3s ease-in-out;
}

.contacts {
  position: relative;
}

.contacts__img {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  max-height: 480px;
}

.contacts__wrap {
  margin-bottom: 110px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
}

.contacts__address {
  margin: 0;
}

.contacts__address span {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.contacts__link {
  margin: 45px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: all .3s ease-in-out;
}

.contacts__link--mail {
  margin: 0px 0px 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.contacts__link:focus, .contacts__link:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.contacts__btn {
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.contacts__btn:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.contacts__btn:focus {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  border: 1px solid #ffffff;
}

.certification__wrap {
  margin-bottom: 120px;
  position: relative;
}

.certification__wrap .counter {
  right: 180px;
  left: unset;
}

.certification__slider {
  position: relative;
}

.projects__wrap {
  margin-bottom: 220px;
  position: relative;
}

.projects__wrap .counter {
  left: 0;
}

.projects__title {
  margin: 60px 0px 30px;
}

.projects__slider {
  position: relative;
  padding-top: 30px;
  border-top: 1px solid #bdbdbd;
}

.projects__card {
  margin-bottom: 60px;
}

.card {
  display: -ms-flexbox;
  display: flex;
  background-color: #FBFBFB;
}

.card__photo {
  width: 55%;
}

.card__content {
  width: 45%;
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.card__title {
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  color: #bdbdbd;
}

.card__desc {
  margin: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #333333;
}

.card__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.card__btn:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.card__btn:focus {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  border: 1px solid #2C2C2C;
}

.product__wrap {
  margin-bottom: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .6fr 30px 1fr;
  grid-template-columns: .6fr 1fr;
  -ms-grid-rows: 1fr 30px 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}

.product__wrap > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.product__wrap > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.product__wrap > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.product__wrap > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.product__wrap > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.product__wrap > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.product__banner--big {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.product__banner--sm {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.product__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #333333;
}
