.feedback {
  &__wrap {
    margin-bottom: 120px;
    display: flex;
  }
  &__photo {
    max-width: 750px;
    padding-top: 30px;
  }
  &__btn {
    display: inline-flex;
    justify-self: flex-start;
    @include btnAction($white);
  }
}