.feedback {
  &__wrap {
    margin-bottom: 120px;
    display: flex;
    @media (max-width: 991px) {
      position: relative;
    }
    @media (max-width:575px) {
      margin-bottom: 60px;
    }
  }
  &__photo {
    max-width: 750px;
    padding-top: 20px;
    @media (max-width: 991px) {
      position: absolute;
      top: 15px;
      right: 0;
      z-index: -1;
      padding-top: 0;
    }
  }
  &__btn {
    display: inline-flex;
    justify-self: flex-start;
    align-items: center;
    @include btnAction($white);
  }
}