.form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1fr 70px;
  gap: 10px;
  @media (max-width: 575px) {
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1.3fr 70px;
  }
  
  &__input {
    width: 100%;
    max-width: 410px;
    padding: 15px 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: $lightBlack;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    outline: none;
    transition: all .3s ease-in-out;
    
    &:focus,
    &:hover {
      border: 1px solid darken($secondary-color, 10%);
      background-color: darken($white, 10%);
    }
    
    &::placeholder {
      color: $secondary-color;
    }
  }

  &__label {
    &--check {
      position: relative;
      padding-left: 30px;
      max-width: 410px;
    }
  }

  &__check {
    padding-left: 40px;
    margin-left: 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: $primary-color;
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }

  &__check:checked+.form__custom-check {
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__custom-check {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid $primary-color;

    &:focus,
    &:hover {
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;
    }
  }

  &__message {
    height: 150px;
    resize: none;
  }
}