html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-flex;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.main__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  color: $primary-color;

  &--light {
    font-weight: 300;
    color: $secondary-color;
  }
  &--m {
    margin: 60px 0px;
  }
}

.section__title {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: $secondary-color;
  margin: 0;
  margin-bottom: 60px;

  &--sm {
    margin-bottom: 20px;
  }
}