.product {
  &__wrap {
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: .6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }

  &__banner {
    &--big {
      grid-column: span 2;
    }

    &--sm {
      grid-column: 1/2;
    }
  }

  &__content {
    grid-column: 2/3;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: $primary-color;
  }
}