.slider {
  &__wrap {
    position: relative;
  }

  &__item {
    position: relative;
  }
}

.hero__slider>.slick-next,
.gallery__slider>.slick-next,
.projects__slider>.slick-next,
.certification__slider>.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  content: " ";
  top: 600px;
  left: -325px;
  display: block;
  width: 17px;
  height: 8px;
  padding: 24px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: 1px solid #f2f2f2;
  outline: none;
  background: $white;
  background-image: url(../img/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  transition: all .3s ease-in-out;

  &::before {
    content: "";
  }

  &:hover,
  &:focus {
    background-color: #f2f2f2;
  }

  &::before {
    content: "";
  }

  &:hover,
  &:focus {
    background-color: #f2f2f2;
  }
}

.gallery__slider>.slick-next {
  top: 650px;
  left: 255px;
}
.projects__slider>.slick-next {
  top: unset;
  bottom: -110px;
  left: 255px;
}

.certification__slider>.slick-next {
  top: 512px;
  right: 25px;
  left: unset;
}

.hero__slider>.slick-prev,
.gallery__slider>.slick-prev,
.projects__slider>.slick-prev,
.certification__slider>.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  content: " ";
  top: 600px;
  left: -397px;
  display: block;
  width: 17px;
  height: 8px;
  padding: 24px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: 1px solid #f2f2f2;
  outline: none;
  background: $white;
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  transition: all .3s ease-in-out;

  &::before {
    content: "";
  }

  &:hover,
  &:focus {
    background-color: #f2f2f2;
  }
}

.gallery__slider>.slick-prev {
  top: 650px;
  left: 180px;
}

.projects__slider>.slick-prev {
  bottom: -110px;
  top: unset;
  left: 180px;
}

.certification__slider>.slick-prev {
  top: 512px;
  right: 100px;
  left: unset;
}

.gallery__slider {
  margin-bottom: 200px !important;

  >.slick-list {
    max-width: 100%;
  }

  >.slick-track {
    width: inherit;
  }
}

.projects__slider {
  margin-bottom: 0px !important;

  >.slick-list {
    max-width: 100%;
  }

  >.slick-track {
    width: inherit;
  }

  >.slick-slide.slick-active {
    width: 100%;
  }
}

.certification__slider {
  margin-bottom: 0px !important;

  >.slick-list {
    max-width: 100%;
  }

  >.slick-track {
    width: inherit;
  }
}

.certification__slider.slick-initialized .slick-slide {
  display: inline-grid;
}

.hero__slider {
  >.slick-list {
    max-width: 800px;
  }

  >.slick-track {
    width: inherit;
  }
}

.slick-slide img {
  display: inline-block !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.hero__slider>.slick-dots {
  bottom: 75px;
  left: -415px;
  width: 20%;
}

.slick-dots li:first-child {
  &::before {
    position: absolute;
    content: "";
    left: 56px;
    width: 34px;
    height: 33px;
    background-image: url("../img/line.svg");
  }
}

.slick-dots li {
  width: 35px;
  height: 35px;
  margin: 0;
  margin-right: 70px;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots li button {
  width: 35px;
  height: 35px;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #BDBDBD;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  content: '';
  opacity: .25;
  color: black;
}