.social {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 40px;
    &:last-child {
      margin-right: 80px;
    }
  }
  &__link {
    transition: all .3s ease-in-out;
    &:hover, &:focus {
      transform: translate(5px, -5px);
    }
  }
}