.social {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    transition: all .3s ease-in-out;
    &:hover, &:focus {
      transform: translate(5px, -5px);
    }
  }
}