.tasks {
  &__wrap {
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 575px) {
      margin-bottom: 60px;
    }
  }

  &__item {
    display: flex;

    &:first-child>.tasks__desc {
      max-width: 280px;
      margin-right: 180px;
    }

    @media (max-width: 1199px) {
      &:first-child>.tasks__desc {
        margin-right: 100px;
      }
    }
    @media (max-width:1040px) {
      &:first-child {
        margin-bottom: 20px;
      }
      &:first-child>.tasks__desc {
        max-width: 300px;
      }
    }
    @media (max-width:575px) {
      text-align: end;
      &:first-child>.tasks__desc {
        max-width: 100%;
        margin-right: 0;
      }
    }
    @media (max-width:420px) {
      text-align: center;
    }
  }

  &__number {
    margin-right: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 100%;
    color: #F2F2F2;
    @media (max-width:1199px) {
      font-size: 150px;
    }
    @media (max-width: 575px) {
      font-size: 120px;
      margin-right: 15px;
    }
  }

  &__desc {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.7;
    color: $primary-color;
    max-width: 420px;
    @media (max-width:1199px) {
      font-size: 18px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
      max-width: 100%;
    }
  }
}